{% extends "layout.html" %}
{% block content %}
<div class="videoWrapper">  
        {% for v in listvideo %}
         {% if loop.index == 1 %}
         <video id="example_video_{{loop.index}}" class="video" controls autoplay width="640" height="264" poster="img/oceans-clip.png" mediagroup="videoMG1">
            <source src="/static/video/{{v}}" type='video/mp4' />            
        </video>
         {% else %}
         <video id="example_video_{{loop.index}}" class="video" width="640" height="264" poster="img/oceans-clip.png" mediagroup="videoMG1">
            <source src="/static/video/{{v}}" type='video/mp4' />            
        </video>
         {% endif %} 
        {% endfor %}
    </div>
    {% for v in listvideo %}
    <div id="titre{{loop.index}}" >  {{v}} </div>
    {% endfor %}
    <div class="clear">
        Current time:
        <span id="currentTime">0</span> seconds.
        <span id="bufferInfo">Initializing players...</span>
    </div>
</body>
{% endblock %}